@model Model.EF.SystemAbout
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                @Model.Email
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                @Model.Phone
            </div>
        </div>
    </div>
</div>